header#logos_container {
    width: 482px;             
    height: 220.672px;       
    padding-top: 7.5px;      
    padding-bottom: 7.5px;     
    padding-left: 0px;       
    padding-right: 0px;      
    margin: 50px auto;       
    border: 0px;             
    
    background-color: #ffffff;
    color: rgb(51, 51, 51); 
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif; /* */
    font-size: 16px;     
    line-height: 22.8571px;  
    display: block;          
    box-sizing: border-box;     
}

.container {
    width: 100%;
    margin: 0 auto;
}

.row {
    display: flex;      
    justify-content: space-around; 
    align-items: center;      
}


header#logos_container img {
    max-height: 80px;       
    width: auto;
    display: block;
    margin: 0 auto;
}

.btn-warning {
    background-color: #f0ad4e; 
    border: 1px solid #eea236; 
    color: #ffffff; 
    padding: 10px 16px;
    text-decoration: none;    
    border-radius: 8px;  
    display: inline-block;
    font-weight: bold;
    margin: 30px 0;          
}
 .btn-warning:hover {
    color: blue !important;
    text-decoration: underline;
 }